<section id="productViewModal" class="productview__background">
  <div class="productview__container">
    <button class="productview__close__button" id="productViewModalClose">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="svg--x__close__button"
          d="M1 1L13.5 13.5M13.5 1L1 13.5"
          stroke="#747474"
        />
      </svg>
    </button>
    <div id="productViewContainer" class="productview__content__container">
      <!-- Este conteúdo esta sendo inserido via JavaScript pelo arquivo "src/scripts/modal/productView.js" -->
    </div>
  </div>
</section>
