<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="./css/styles.css" />
<title>Mambo</title>
<!-- Meta tag para pesquisas -->
<meta name="title" content="Mambo" />
<meta
  name="description"
  content="Mambo Delivery: Supermercado online, com mais de 11.000 produtos selecionados de hortifrúti, mercearia, bebidas, limpeza, perfumaria, carnes, peixes, padaria e muito mais. Escolha os seus produtos e receba em casa ou no trabalho."
/>
<meta
  name="keywords"
  content="Supermercado On-line, Variedade de Produtos, Praticidade para o dia a dia, Economia em produtos de casa, Supermercado Próximo"
/>
<meta name="robots" content="index" />
<meta name="googlebot" content="index" />
