<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- partial:./head.html -->
    <!-- partial -->
  </head>
  <body>
    <!-- partial:./headerbar/headerbar.html -->
    <!-- partial -->
    <!-- partial:./banner/mainBanner.html -->
    <!-- partial -->
    <!-- partial:./banner/promotions.html -->
    <!-- partial -->
    <!-- partial:./discountShelf/discountShelf.html -->
    <!-- partial -->
    <!-- partial:./essentialForYourDay/essentialForYourDay.html -->
    <!-- partial -->
    <!-- partial:./banner/recipes.html -->
    <!-- partial -->
    <!-- partial:./footer/footer.html -->
    <!-- partial -->
    <!-- partial:./modal/productView.html -->
    <!-- partial -->
    <!-- partial:./popup/successfulPurchase.html -->
    <!-- partial -->
    <script type="text/javascript" src="./js/scripts.js"></script>
  </body>
</html>
