<footer class="footer__container">
  <article class="footer__institutional__container">
    <div id="footerInstitutionalToggle" class="footer__titles">
      Institucional
    </div>
    <div id="footerInstitutionalContent" class="footer__content">
      <a class="footer__content__link" href="#">Sobre o Mambo</a>
      <a class="footer__content__link" href="#">Nossas Lojas</a>
      <a class="footer__content__link" href="#">Trabalhe Conosco</a>
      <a class="footer__content__link" href="#">Marketplace</a>
    </div>
  </article>
  <article class="footer__helpandsupport__container">
    <div id="footerHelpandsupportToggle" class="footer__titles">
      Ajuda e suporte
    </div>
    <div id="footerHelpandsupportContent" class="footer__content">
      <a class="footer__content__link" href="#">Fale Conosco</a>
      <a class="footer__content__link" href="#">Dúvidas Frequentes (FAQ)</a>
      <hr />
      <div class="footer__content__description">
        SAC: (11) 2388-8238
      </div>
      <div class="footer__content__description">
        De segunda a sexta das 08h às 22h
      </div>
      <div class="footer__content__description">
        Aos sábados das 08h às 20h
      </div>
    </div>
  </article>
  <article class="footer__abountservice__container">
    <div id="footerAbountserviceToggle" class="footer__titles">
      Sobre o serviço
    </div>
    <div id="footerAbountserviceContent" class="footer__content">
      <a class="footer__content__link" href="#">Política de troca</a>
      <a class="footer__content__link" href="#">Formas de pagamento</a>
      <a class="footer__content__link" href="#">Sobre a entrega</a>
      <a class="footer__content__link" href="#">Política de Privacidade</a>
    </div>
  </article>
</footer>
