<section class="essentialForYourDay__container">
  <div class="essentialForYourDay__title">Essenciais para o seu dia a dia</div>
  <div class="essentialForYourDay__item__container">
    <div class="essentialForYourDay__item">
      <img
        src="https://s3-alpha-sig.figma.com/img/d89c/2297/dc6855de28599cb93fd8fde66b50641a?Expires=1597017600&Signature=Jr5NqagCHWRDfluHc2Uf0Pq1kPMufJLQa6GT5Xa7u6UvWKmyWnToP6znwqFBa-H5jEX40keDjuae610Dn~Qq0pyQvdYUavpBFVj8sF0YQWnylrCXgTfONgSeaS~NYu2TJzE5dgX97JjixXuksw6wXbLPFyvI~CDUScGY0b4dgJDy3OC-Ma9RS~Gb5dKgoPU-ANxzQkzaA-cDrK3HqA71~pFgWHem7qS46eaU67lnWQBmA8R8urUsEbsANb-c-wKVukeGjzCB33YPqzBzWSqChwuBLqIpi6kDanlRM--JdStaf0clkT6rZ8N3F0zgFq8VX7HeUayB4-~YlJjlnjF2sg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt="Compre e receba em até 2 horas"
      />
      <div class="essentialForYourDay__item__title">Frutas</div>
    </div>
    <div class="essentialForYourDay__item">
      <img
        src="https://s3-alpha-sig.figma.com/img/d89c/2297/dc6855de28599cb93fd8fde66b50641a?Expires=1597017600&Signature=Jr5NqagCHWRDfluHc2Uf0Pq1kPMufJLQa6GT5Xa7u6UvWKmyWnToP6znwqFBa-H5jEX40keDjuae610Dn~Qq0pyQvdYUavpBFVj8sF0YQWnylrCXgTfONgSeaS~NYu2TJzE5dgX97JjixXuksw6wXbLPFyvI~CDUScGY0b4dgJDy3OC-Ma9RS~Gb5dKgoPU-ANxzQkzaA-cDrK3HqA71~pFgWHem7qS46eaU67lnWQBmA8R8urUsEbsANb-c-wKVukeGjzCB33YPqzBzWSqChwuBLqIpi6kDanlRM--JdStaf0clkT6rZ8N3F0zgFq8VX7HeUayB4-~YlJjlnjF2sg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt="Compre e receba em até 2 horas"
      />
      <div class="essentialForYourDay__item__title">Frutas</div>
    </div>
    <div class="essentialForYourDay__item">
      <img
        src="https://s3-alpha-sig.figma.com/img/d89c/2297/dc6855de28599cb93fd8fde66b50641a?Expires=1597017600&Signature=Jr5NqagCHWRDfluHc2Uf0Pq1kPMufJLQa6GT5Xa7u6UvWKmyWnToP6znwqFBa-H5jEX40keDjuae610Dn~Qq0pyQvdYUavpBFVj8sF0YQWnylrCXgTfONgSeaS~NYu2TJzE5dgX97JjixXuksw6wXbLPFyvI~CDUScGY0b4dgJDy3OC-Ma9RS~Gb5dKgoPU-ANxzQkzaA-cDrK3HqA71~pFgWHem7qS46eaU67lnWQBmA8R8urUsEbsANb-c-wKVukeGjzCB33YPqzBzWSqChwuBLqIpi6kDanlRM--JdStaf0clkT6rZ8N3F0zgFq8VX7HeUayB4-~YlJjlnjF2sg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt="Compre e receba em até 2 horas"
      />
      <div class="essentialForYourDay__item__title">Frutas</div>
    </div>
    <div class="essentialForYourDay__item">
      <img
        src="https://s3-alpha-sig.figma.com/img/d89c/2297/dc6855de28599cb93fd8fde66b50641a?Expires=1597017600&Signature=Jr5NqagCHWRDfluHc2Uf0Pq1kPMufJLQa6GT5Xa7u6UvWKmyWnToP6znwqFBa-H5jEX40keDjuae610Dn~Qq0pyQvdYUavpBFVj8sF0YQWnylrCXgTfONgSeaS~NYu2TJzE5dgX97JjixXuksw6wXbLPFyvI~CDUScGY0b4dgJDy3OC-Ma9RS~Gb5dKgoPU-ANxzQkzaA-cDrK3HqA71~pFgWHem7qS46eaU67lnWQBmA8R8urUsEbsANb-c-wKVukeGjzCB33YPqzBzWSqChwuBLqIpi6kDanlRM--JdStaf0clkT6rZ8N3F0zgFq8VX7HeUayB4-~YlJjlnjF2sg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt="Compre e receba em até 2 horas"
      />
      <div class="essentialForYourDay__item__title">Frutas</div>
    </div>
  </div>
</section>
