/******************
 * Cores de fundo *
 ******************/
$BG_White: #FFF;
$BG_LightGrey: #e6e6e6;
$BG_Dark: #454545;
$BG_Black80: #141414cc;
$BG_Black60: #14141499;
$BG_Yellow: #fdc14d;
$BG_Red: #f44237;
$BG_Green: #3B6626;
$BG_LightGreen: #47AE54;
$BG_DarkRed: rgba(191, 38, 38, 0.9);

/*******************
  * Cores de textos *
  *******************/
$LT_Dark: #454545;
$LT_LightDark: #747474;
$LT_Light: #9c9c9c;
$LT_White: #FFF;
$LT_Green: #549305;
$LT_Red: #f44237;

/*****************
 * Cores de borda *
 *****************/
$BD_LightGrey: #d5d5d5;
$BD_DarkGrey: #747474;
$BD_Red: #f44237;
