<section class="banner__container">
  <div class="owl-banner owl-carousel owl-theme banner__carousel__container">
    <div class="banner__carousel__item__container">
      <img
        src="https://s3-alpha-sig.figma.com/img/e679/c2fa/da94e7659008bcff19bf76982feac918?Expires=1596412800&Signature=dV1jUcPsNhqI96Q32UP6fTKkHYJfXn~Dv3DolIrmDvtEIoSaD32AUpGOb3d-UgQO7nS0Y9bTLthsthPAtgnSDgoSsBx3z9hrUTAOboJJFMdGq9-vIg7gXeilxDGSTl72B~9PcJBM0TzWkjX9aNylbABDInU5UWsOOFFB041w6IyZ7FO-5tGA4f1bm-Lli6dl8CS-6GF3cW1OA80ZDRL1m-Rpl9jPn~SCJQu2b9JBfqyEsNKnG7JDtZ4M5gQqVUawxyQ02zQ4bTn7anQyts7fWWgK9t5bya3gwH0OvLmiVdkwn59-1QprwZAeWetKKati7R3UwP1As~W3Ni3L98VEFQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt="Melhor semana! Aproveite as ofertas que o Mambo preparou para você."
      />
    </div>
    <div class="banner__carousel__item__container">
      <img
        src="https://s3-alpha-sig.figma.com/img/e679/c2fa/da94e7659008bcff19bf76982feac918?Expires=1596412800&Signature=dV1jUcPsNhqI96Q32UP6fTKkHYJfXn~Dv3DolIrmDvtEIoSaD32AUpGOb3d-UgQO7nS0Y9bTLthsthPAtgnSDgoSsBx3z9hrUTAOboJJFMdGq9-vIg7gXeilxDGSTl72B~9PcJBM0TzWkjX9aNylbABDInU5UWsOOFFB041w6IyZ7FO-5tGA4f1bm-Lli6dl8CS-6GF3cW1OA80ZDRL1m-Rpl9jPn~SCJQu2b9JBfqyEsNKnG7JDtZ4M5gQqVUawxyQ02zQ4bTn7anQyts7fWWgK9t5bya3gwH0OvLmiVdkwn59-1QprwZAeWetKKati7R3UwP1As~W3Ni3L98VEFQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt="Melhor semana! Aproveite as ofertas que o Mambo preparou para você."
      />
    </div>
    <div class="banner__carousel__item__container">
      <img
        src="https://s3-alpha-sig.figma.com/img/e679/c2fa/da94e7659008bcff19bf76982feac918?Expires=1596412800&Signature=dV1jUcPsNhqI96Q32UP6fTKkHYJfXn~Dv3DolIrmDvtEIoSaD32AUpGOb3d-UgQO7nS0Y9bTLthsthPAtgnSDgoSsBx3z9hrUTAOboJJFMdGq9-vIg7gXeilxDGSTl72B~9PcJBM0TzWkjX9aNylbABDInU5UWsOOFFB041w6IyZ7FO-5tGA4f1bm-Lli6dl8CS-6GF3cW1OA80ZDRL1m-Rpl9jPn~SCJQu2b9JBfqyEsNKnG7JDtZ4M5gQqVUawxyQ02zQ4bTn7anQyts7fWWgK9t5bya3gwH0OvLmiVdkwn59-1QprwZAeWetKKati7R3UwP1As~W3Ni3L98VEFQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt="Melhor semana! Aproveite as ofertas que o Mambo preparou para você."
      />
    </div>
  </div>
</section>
