<section class="promotions__container">
  <div id="promotionsImagesContainer" class="owl-promotions owl-carousel owl-theme promotions__images__container">
    <img
      src="https://s3-alpha-sig.figma.com/img/c1b7/8c05/b4e4443312d4c02113342d576ec5f1d3?Expires=1596412800&Signature=SFaIstLzV-H54bkoFBtxBQ~5UlyNoiv5YNRSdRbsatHUe4CkbCB8SvAQRIUu56a3~Xab5wXmi3cQs~mQ~b9HdMeNgVFJzar4WYTtMuZtykvsiyL-9RAuen6vMGbWL5snKr754Es8uZBBZMtVXtM1Dj3uLFSOAQ-mjD~bWjcUs~CeZVNJoVQfh0G9NlqG7SIBhZ6Q-OwSFv-MGs9GfLsewtmcJFZi2k~4SWaX-sjLfJsgFLLHigUyOOcGw94l7OnMLirW5HdUNHWkMzXsH6VIRMfMmGdWiRUcXlkFEmVxb4iIrXfMt81AY2bfd7GhbfRDi0TsUPHPNU0PhfBVakh9xA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
      alt="Compre e receba em até 2 horas"
      class="promotions__image01"
    />
    <img
      src="https://s3-alpha-sig.figma.com/img/c1b7/8c05/b4e4443312d4c02113342d576ec5f1d3?Expires=1596412800&Signature=SFaIstLzV-H54bkoFBtxBQ~5UlyNoiv5YNRSdRbsatHUe4CkbCB8SvAQRIUu56a3~Xab5wXmi3cQs~mQ~b9HdMeNgVFJzar4WYTtMuZtykvsiyL-9RAuen6vMGbWL5snKr754Es8uZBBZMtVXtM1Dj3uLFSOAQ-mjD~bWjcUs~CeZVNJoVQfh0G9NlqG7SIBhZ6Q-OwSFv-MGs9GfLsewtmcJFZi2k~4SWaX-sjLfJsgFLLHigUyOOcGw94l7OnMLirW5HdUNHWkMzXsH6VIRMfMmGdWiRUcXlkFEmVxb4iIrXfMt81AY2bfd7GhbfRDi0TsUPHPNU0PhfBVakh9xA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
      alt="Compre e receba em até 2 horas"
      class="promotions__image02"
    />
    <img
      src="https://s3-alpha-sig.figma.com/img/c1b7/8c05/b4e4443312d4c02113342d576ec5f1d3?Expires=1596412800&Signature=SFaIstLzV-H54bkoFBtxBQ~5UlyNoiv5YNRSdRbsatHUe4CkbCB8SvAQRIUu56a3~Xab5wXmi3cQs~mQ~b9HdMeNgVFJzar4WYTtMuZtykvsiyL-9RAuen6vMGbWL5snKr754Es8uZBBZMtVXtM1Dj3uLFSOAQ-mjD~bWjcUs~CeZVNJoVQfh0G9NlqG7SIBhZ6Q-OwSFv-MGs9GfLsewtmcJFZi2k~4SWaX-sjLfJsgFLLHigUyOOcGw94l7OnMLirW5HdUNHWkMzXsH6VIRMfMmGdWiRUcXlkFEmVxb4iIrXfMt81AY2bfd7GhbfRDi0TsUPHPNU0PhfBVakh9xA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
      alt="Compre e receba em até 2 horas"
      class="promotions__image03"
    />
  </div>
</section>
