<section class="recipes__container">
  <div class="recipes__images__container">
    <img
      src="https://s3-alpha-sig.figma.com/img/7b5f/4e84/1af81b8a2ff1a3c0821b00f03366a21f?Expires=1596412800&Signature=IDgb8ke3BEcvTSoSTJ3Ll1JOAXBu5tI1rM9dawmWTjb67ZirZVRYqHuMWxx9U7iIZgrlmsVySkQav24tTTPMJge-zYEFeEzB1GfhQZ0FRBTCon~zKoRu39z98jjp37kEJx8J0DXJ7qxO667BYD0RATcmYSLtAPv25FvEItLkqYz1s2IiSUPxZA4xrRwbLLEw7LriE6R8JW3tu39LJHnrUbM6itxdvEuCPoo4EpWl33Ggj7T1q3Dc2o45znO3cCF~aGfcKPwj-HNylo8q7c4K5tTSGtuaVFRcW6da2EXbcx9krXb50Q6N8I8aha46cON~L8e31G9gDdFh299vtkuy9Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
      alt="Compre e receba em até 2 horas"
      class="recipes__image"
    />
  </div>
</section>
